## Fijar el absolute path un directorio arriba

In [1]:
import sys
import os

# Add project root to Python path
project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))
if project_root not in sys.path:
    sys.path.append(project_root)

-----

In [2]:
import pandas as pd
import asignacion.utils as utils

from asignacion.base import AsignacionBase
from asignacion.nuevosyantiguos import AsignacionNuevosAntiguos
from asignacion.antiguos import AsignacionAntiguos
from asignacion.nuevos import AsignacionNuevos
from asignacion.constants import RECURSOS_POR_RUTA

In [3]:
#Display options
# Set pandas display format globally
pd.options.display.float_format = "{:,.3f}".format

# **Constantes**

In [4]:
NOMBRE_ARCHIVO_HABILITADOS = "Habilitados final 26052025.xlsx"
NOMBRE_ARCHIVO_COMPLEMENTARIO = "Base final - Oferta Activa.pkl"

# **Ejecución**

In [5]:
asignacion_base = AsignacionBase()

In [6]:
asignacion_base.validar_datos(NOMBRE_ARCHIVO_HABILITADOS)

Los errores quedaron logeados en: ..\output\logs\validacion.log

C:\Users\Max\Documents\Atenea\Despacho\Asignacion-EFT-Convocatoria2\asignacion\base.py:135: UserWarning: Existen columnas con espacios adicionales
  warnings.warn("Existen columnas con espacios adicionales", category=UserWarning)
C:\Users\Max\Documents\Atenea\Despacho\Asignacion-EFT-Convocatoria2\asignacion\base.py:159: UserWarning: Existen columnas indispensables con valores nulos
  warnings.warn("Existen columnas indispensables con valores nulos", category=UserWarning)
C:\Users\Max\Documents\Atenea\Despacho\Asignacion-EFT-Convocatoria2\asignacion\base.py:170: UserWarning: Existen columnas indispensables con tipado no adecuado
  warnings.warn("Existen columnas indispensables con tipado no adecuado", category=UserWarning)

In [7]:
rutas = asignacion_base.crear_rutas(NOMBRE_ARCHIVO_HABILITADOS, NOMBRE_ARCHIVO_COMPLEMENTARIO)

La llave es: codigo_programa. Ver diccionario para mayor detalle.
Programas que cruzaron: 39
Programas que NO cruzaron: 6

## **Distribución Recursos por Ruta**

In [8]:
utils.imprimir_recursos_por_ruta(RECURSOS_POR_RUTA)

Ruta       |             Recursos
-----------------------------------
antiguos   |        2.825.099.258
nuevos     |        2.118.824.444
cerrados   |        2.118.824.444

## **Ruta Antiguos**

In [32]:
#Obtener los datos de la ruta antigua
df_antiguos = rutas['Antiguos']
df_nuevos = rutas['Nuevos']
df_cerrados = rutas['Grupos cerrados']

### Calcular recursos por CNO para Antiguos

In [10]:
asignacion_nuevos_antiguos = AsignacionNuevosAntiguos(df_antiguos, "antiguos")

In [11]:
asignacion_nuevos_antiguos.recursosxcno

,cod_CNO,ipo_ponderado,cuposxcno,ipo,n_programas,participacion_ipo,recursosxcno
0,1231,96.553,200,0.966,2,0.081,"230,222,250.192"
1,1345,99.746,160,1.247,2,0.084,"237,836,186.175"
2,2242,40.669,75,0.542,1,0.034,"96,971,010.570"
3,2281,55.234,83,0.665,1,0.047,"131,700,148.380"
4,3311,47.734,100,0.477,1,0.040,"113,817,752.930"
5,3315,95.979,160,1.200,2,0.081,"228,853,504.614"
6,4311,143.197,300,1.432,3,0.121,"341,440,656.523"
7,5223,15.083,30,0.503,1,0.013,"35,964,177.517"
8,6234,32.624,60,0.544,1,0.028,"77,788,312.407"
9,6322,158.196,285,1.110,2,0.134,"377,204,925.607"
10,6355,194.070,350,2.218,4,0.164,"462,743,514.087"
11,8325,205.735,410,2.509,5,0.174,"490,556,819.797"

### Calcular asignación de recursos

In [18]:
asignacion_antiguos = AsignacionAntiguos(df_antiguos)

In [19]:
print(f"Recursos que faltaron por ser asignados en la primera etapa: {asignacion_antiguos.recursos_disponibles:,}")

Recursos que faltaron por ser asignados en la primera etapa: 31,860,867.138705254

columnas = ['ocupacion','codigo_programa','cod_CNO','ipo','isoeft_4d','recurso_asignado_2E','recurso_asignado_3E','Total_Recurso_Asignado']
asignacion_antiguos.segunda_asignacion[columnas].head()

## **Ruta Nuevos**

In [20]:
asignacion_nuevos = AsignacionNuevos(df_nuevos)

In [22]:
asignacion_nuevos.asignacion

,cod_CNO,recurso_asignado_2E,cupos_asignados_2E,recursosxcno,numero_cupos_ofertar,Saldo_No_Asignado_2E,cupos_no_asignados_2E
0,"2,281.000","883,560,107.613",175,"1,262,663,722.467",175,"379,103,614.855",0
1,"2,321.000","146,773,960.657",24,"149,428,114.545",25,"2,654,153.888",1
2,"3,311.000","128,568,983.656",15,"129,359,728.926",25,"790,745.270",10
3,"6,233.000","137,285,276.350",23,"141,834,671.338",25,"4,549,394.988",2
4,"6,374.000","146,773,960.657",24,"151,326,475.347",25,"4,552,514.690",1
5,"6,642.000","139,975,610.849",25,"148,072,142.544",25,"8,096,531.695",0
6,"8,325.000","135,598,725.043",23,"136,139,588.932",25,"540,863.889",2

In [23]:
print(f"Recursos que faltaron por ser asignados en la primera etapa: {asignacion_nuevos.recursos_disponibles:,}")

Recursos que faltaron por ser asignados en la primera etapa: 400,287,819.2755506

## **Ruta Cerrados**

In [33]:
asignacion_cerrados = AsignacionNuevos(df_cerrados)

In [34]:
asignacion_cerrados.asignacion

,cod_CNO,recurso_asignado_2E,cupos_asignados_2E,recursosxcno,numero_cupos_ofertar,Saldo_No_Asignado_2E,cupos_no_asignados_2E
0,"1,341.000","591,475,177.790",120,"592,196,472.143",300,"721,294.352",180
1,"1,345.000","643,922,892.862",99,"644,135,381.150",240,"212,488.288",141
2,"3,315.000","619,454,360.941",100,"619,807,447.271",240,"353,086.331",140
3,"6,322.000","91,398,627.900",19,"95,587,356.262",40,"4,188,728.362",21
4,"6,334.000","33,673,178.700",7,"37,479,978.591",20,"3,806,799.891",13
5,"8,325.000","124,341,542.253",23,"129,617,808.683",60,"5,276,266.430",37

In [36]:
print(f"Recursos que faltaron por ser asignados en la primera etapa: {asignacion_cerrados.recursos_disponibles:,}")

Recursos que faltaron por ser asignados en la primera etapa: 14,558,663.654216528