## **Fijar el absolute path un directorio arriba**

In [1]:
import sys
import os
# Add project root to Python path
project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))
if project_root not in sys.path:
    sys.path.append(project_root)

In [2]:
import pandas as pd
import asignacion.utils as utils

from asignacion.base import AsignacionBase
from asignacion.nuevosyantiguos import AsignacionNuevosAntiguos
from asignacion.antiguos import AsignacionAntiguos
from asignacion.nuevos import AsignacionNuevos
from asignacion.cerrados import AsignacionCerrados
from asignacion.constants import RECURSOS_POR_RUTA

-----

In [3]:
#Display options
# Set pandas display format globally
pd.options.display.float_format = "{:,.3f}".format

# **Constantes**

In [4]:
NOMBRE_ARCHIVO_HABILITADOS = "Habilitados final 26052025.xlsx"
NOMBRE_ARCHIVO_COMPLEMENTARIO = "Base final - Oferta Activa.pkl"

# **Ejecución**

In [5]:
asignacion_base = AsignacionBase()

In [6]:
asignacion_base.validar_datos(NOMBRE_ARCHIVO_HABILITADOS)

Los errores quedaron logeados en: ..\output\logs\validacion.log

C:\Users\Max\Documents\Atenea\Despacho\Asignacion-EFT-Convocatoria2\asignacion\base.py:135: UserWarning: Existen columnas con espacios adicionales
  warnings.warn("Existen columnas con espacios adicionales", category=UserWarning)
C:\Users\Max\Documents\Atenea\Despacho\Asignacion-EFT-Convocatoria2\asignacion\base.py:159: UserWarning: Existen columnas indispensables con valores nulos
  warnings.warn("Existen columnas indispensables con valores nulos", category=UserWarning)
C:\Users\Max\Documents\Atenea\Despacho\Asignacion-EFT-Convocatoria2\asignacion\base.py:170: UserWarning: Existen columnas indispensables con tipado no adecuado
  warnings.warn("Existen columnas indispensables con tipado no adecuado", category=UserWarning)

In [7]:
rutas = asignacion_base.crear_rutas(NOMBRE_ARCHIVO_HABILITADOS, NOMBRE_ARCHIVO_COMPLEMENTARIO)

La llave es: codigo_programa. Ver diccionario para mayor detalle.
Programas que cruzaron: 39
Programas que NO cruzaron: 6

## **Distribución Recursos por Ruta**

In [8]:
utils.imprimir_recursos_por_ruta(RECURSOS_POR_RUTA)

Ruta       |             Recursos
-----------------------------------
antiguos   |        2.825.099.258
nuevos     |        2.118.824.444
cerrados   |        2.118.824.444

In [9]:
#Obtener los datos de la ruta antigua
df_antiguos = rutas['Antiguos']
df_nuevos = rutas['Nuevos']
df_cerrados = rutas['Grupos cerrados']

## **Ruta Antiguos**

### **Calcular recursos por CNO para Antiguos**

In [10]:
asignacion_nuevos_antiguos = AsignacionNuevosAntiguos(df_antiguos, "antiguos")

In [11]:
asignacion_nuevos_antiguos.recursosxcno

,cod_CNO,ipo_ponderado,cuposxcno,ipo,n_programas,participacion_ipo,recursosxcno
0,1231,96.553,200,0.966,2,0.081,"230,222,250.192"
1,1345,99.746,160,1.247,2,0.084,"237,836,186.175"
2,2242,40.669,75,0.542,1,0.034,"96,971,010.570"
3,2281,55.234,83,0.665,1,0.047,"131,700,148.380"
4,3311,47.734,100,0.477,1,0.040,"113,817,752.930"
5,3315,95.979,160,1.200,2,0.081,"228,853,504.614"
6,4311,143.197,300,1.432,3,0.121,"341,440,656.523"
7,5223,15.083,30,0.503,1,0.013,"35,964,177.517"
8,6234,32.624,60,0.544,1,0.028,"77,788,312.407"
9,6322,158.196,285,1.110,2,0.134,"377,204,925.607"
10,6355,194.070,350,2.218,4,0.164,"462,743,514.087"
11,8325,205.735,410,2.509,5,0.174,"490,556,819.797"

### **Calcular asignación de recursos**

In [12]:
asignacion_antiguos = AsignacionAntiguos(df_antiguos)

In [13]:
print(f"Recursos que faltaron por ser asignados en la primera etapa: {asignacion_antiguos.recursos_disponibles:,}")

Recursos que faltaron por ser asignados en la primera etapa: 31,860,867.138705254

----

## **Ruta Nuevos**

### **Calcular recursos por CNO para Nuevos**

In [14]:
asignacion_nuevos_antiguos = AsignacionNuevosAntiguos(df_nuevos, "nuevos")

In [15]:
asignacion_nuevos_antiguos.recursosxcno

,cod_CNO,ipo_ponderado,cuposxcno,ipo,n_programas,participacion_ipo,recursosxcno
0,2281,33.273,50,0.665,1,0.170,"360,780,154.858"
1,6233,13.078,25,0.523,1,0.067,"141,801,501.765"
2,6374,13.961,25,0.558,1,0.071,"151,381,578.345"
3,6642,13.656,25,0.546,1,0.070,"148,069,537.636"

### **Calcular Asignacion de Recursos**

In [16]:
asignacion_nuevos = AsignacionNuevos(df_nuevos)

In [17]:
asignacion_nuevos.primera_asignacion.head()

,ruta_habilitada,nombre_institucion,ocupacion,nombre_programa,codigo_programa,ipo,Puntaje (nuevos y cerrados),Meta de vinculación,valor_programa_indexado,numero_cupos_ofertar,...,cod_CNO2d,cod_CNO1d,_ocupacion,isoeft_4d,codigo_programa,ipo_ponderado,recursosxcno,cupos_asignados_2E,recurso_asignado_2E,cupos_sobrantes_2E
0,Nuevos,CORPORACIÓN DE EDUCACIÓN TECNOLÓGICA COLSUBSID...,Técnicos en tecnologías de la información,Técnico Laboral por competencias en Codificaci...,59360,0.665,25.538,0.000,"1,873,329.938",50,...,22,2,Técnicos en tecnologías de la información,NaN,59360,33.273,"1,262,663,722.467",50,"93,666,496.913",0
1,Nuevos,INSTITUTO TECNISISTEMAS - TUNJUELITO,Auxiliares en enfermería,TECNICO LABORAL EN AUXILIAR DE ENFERMERÍA,<NA>,0.477,23.600,0.000,"8,571,265.577",25,...,<NA>,<NA>,NaN,NaN,<NA>,11.925,"129,359,728.926",15,"128,568,983.656",10
2,Nuevos,UNIVERSIDAD DE LA SABANA,Técnicos en tecnologías de la información,TECNICO LABORAL EN ASISTENCIA Y SOPORTE DE TEC...,<NA>,0.665,15.000,0.000,"6,606,356.964",50,...,<NA>,<NA>,NaN,NaN,<NA>,33.250,"1,262,663,722.467",50,"330,317,848.200",0
3,Nuevos,UNIVERSIDAD DE LA SABANA,Técnicos en tecnologías de la información,TECNICO LABORAL EN MANEJO DE HERRAMIENTAS PARA...,<NA>,0.665,15.000,0.000,"6,761,360.485",50,...,<NA>,<NA>,NaN,NaN,<NA>,33.250,"1,262,663,722.467",50,"338,068,024.250",0
4,Nuevos,UNIVERSIDAD DE LA SALLE,Técnicos en tecnologías de la información,TÉCNICO LABORAL EN SOPORTE Y MANTENIMIENTO DE TI,<NA>,0.665,15.000,0.000,"4,860,309.530",25,...,<NA>,<NA>,NaN,NaN,<NA>,16.625,"1,262,663,722.467",25,"121,507,738.250",0

In [18]:
print(f"Recursos que faltaron por ser asignados en la primera etapa: {asignacion_nuevos.recursos_disponibles:,}")

Recursos que faltaron por ser asignados en la primera etapa: 400,287,819.2755506

----

## **Ruta Cerrados**

### **Calcular asignacion de recursos**

In [19]:
asignacion_cerrados = AsignacionCerrados(df_cerrados)

In [20]:
print(f"Recursos que faltaron por ser asignados en la primera etapa: {asignacion_cerrados.recursos_disponibles:,}")

Recursos que faltaron por ser asignados en la primera etapa: 716,543.4978334308

-----

## **Calcular Bolsa Común y dispersar recursos remanentes**

### **Calcular bolsa comun**

In [27]:
bolsa_comun = asignacion_cerrados.recursos_disponibles + asignacion_nuevos.recursos_disponibles + asignacion_antiguos.recursos_disponibles
print(f"Recursos en la bolsa comun: {bolsa_comun:,}")

Recursos en la bolsa comun: 432,865,229.9120893

**El orden de prioridad de la asignacion es:**
1. Cerrados
2. Nuevos
3. Antiguos

La asignacion de los recursos sigue el mismo mecanismo de cada ruta

### **Asignar recursos a programas Cerrados**

In [28]:
#Seleccionamos los programas que aún tienen cupos para ofrecer
programas_remanentes_cerrados = asignacion_cerrados.programas_remanente

#limpiamos las columnas que se habian calculado pero que no van a ser necesarias
programas_remanentes_cerrados = programas_remanentes_cerrados.drop(
    columns = ['numero_cupos_ofertar','recurso_asignado_2E','cupos_asignados_2E']
).rename(columns = {
    "cupos_sobrantes_2E":"numero_cupos_ofertar"
})

#Instanciamos un nuevo objeto para la Asignacion de Antiguos
asignacion_cerrados_remanente = AsignacionNuevos(programas_remanentes_cerrados, recursos_iniciales = bolsa_comun)

In [29]:
#Actualizar bolsa comun 
bolsa_comun = asignacion_cerrados_remanente.recursos_disponibles
print(f"Recursos en la bolsa comun: {bolsa_comun:,}")

Recursos en la bolsa comun: 10,302,867.528298318

### **Asignar recursos a programas Nuevos**

In [30]:
#Seleccionamos los programas que aún tienen cupos para ofrecer
programas_remanentes_nuevos = asignacion_nuevos.programas_remanente

#limpiamos las columnas que se habian calculado pero que no van a ser necesarias
programas_remanentes_nuevos = programas_remanentes_nuevos.drop(
    columns = ['recursosxcno','numero_cupos_ofertar','recurso_asignado_2E','cupos_asignados_2E']
).rename(columns = {
    "cupos_sobrantes_2E":"numero_cupos_ofertar"
})

#Instanciamos un nuevo objeto para la Asignacion de Antiguos
asignacion_nuevos_remanente = AsignacionNuevos(programas_remanentes_nuevos, recursos_iniciales = bolsa_comun)

In [31]:
#Actualizar bolsa comun 
bolsa_comun = asignacion_nuevos_remanente.recursos_disponibles
print(f"Recursos en la bolsa comun: {bolsa_comun:,}")

Recursos en la bolsa comun: 10,302,867.528298318

### **Asignar recursos a programas Antiguos**

In [32]:
#Seleccionamos los programas que aún tienen cupos para ofrecer
programas_remanentes_antiguos = asignacion_antiguos.programas_remanente.copy()

#limpiamos las columnas que se habian calculado pero que no van a ser necesarias
programas_remanentes_antiguos = programas_remanentes_antiguos.drop(
    columns = ['recursosxcno','numero_cupos_ofertar','recurso_asignado_2E','cupos_asignados_2E']
).rename(columns = {
    "cupos_sobrantes_2E":"numero_cupos_ofertar"
})

#Instanciamos un nuevo objeto para la Asignacion de Antiguos
asignacion_antiguos_remanente = AsignacionAntiguos(programas_remanentes_antiguos, recursos_iniciales = bolsa_comun)

In [33]:
#Actualizar bolsa comun 
bolsa_comun = asignacion_antiguos_remanente.recursos_disponibles
print(f"Recursos en la bolsa comun: {bolsa_comun:,}")

Recursos en la bolsa comun: 10,302,867.528298318

In [35]:
df2_columns = [
    'nombre_institucion',
    'ocupacion',
    'codigo_programa',
    'recursosxcno',
    'cupos_asignados_2E',
    'recurso_asignado_2E',
    'cupos_sobrantes_2E'
]

df1 = asignacion_antiguos.primera_asignacion
df2 = asignacion_antiguos_remanente.primera_asignacion

merged_df = utils.merge_without_duplicates(
    df1, df2, df2_columns=df2_columns,
    merge_on=['nombre_institucion','codigo_programa']
)

In [36]:
merged_df.head()

,ruta_habilitada,nombre_institucion,ocupacion_first,nombre_programa,codigo_programa,ipo,Puntaje (nuevos y cerrados),Meta de vinculación,valor_programa_indexado,numero_cupos_ofertar,...,recursosxcno_first,cupos_asignados_2E_first,recurso_asignado_2E_first,cupos_sobrantes_2E_first,ocupacion_second,recursosxcno_second,cupos_asignados_2E_second,recurso_asignado_2E_second,cupos_sobrantes_2E_second,_merge
0,Antiguos,CENTRO DE EDUCACION PARA EL TRABAJO - CAFAM,"Auxiliares técnicos de instalación, mantenimie...",TECNICO LABORAL POR COMPETENCIAS EN AUXILIAR D...,4342,0.502,NaN,NaN,"3,689,772.311",75,...,"592,733,486.114",0,0.000,75,"Auxiliares técnicos de instalación, mantenimie...","2,172,619.104",0.000,0.000,75,both
1,Antiguos,CENTRO DE EDUCACION PARA EL TRABAJO - CAFAM,"Auxiliares técnicos de instalación, mantenimie...",TECNICO LABORAL POR COMPETENCIAS EN SOPORTE DE...,4378,0.502,NaN,NaN,"3,689,772.311",75,...,"592,733,486.114",72,"265,663,606.379",3,"Auxiliares técnicos de instalación, mantenimie...","2,172,619.104",0.000,0.000,3,both
2,Antiguos,CESDE BOGOTÁ,"Auxiliares técnicos de instalación, mantenimie...",TÉCNICO LABORAL COMO AUXILIAR EN SISTEMAS,54885,0.502,NaN,NaN,"5,406,154.011",60,...,"592,733,486.114",60,"324,369,240.660",0,NaN,<NA>,NaN,NaN,<NA>,left_only
3,Antiguos,CESDE BOGOTÁ,Técnicos en diseño y arte gráfico,TÉCNICO LABORAL COMO AUXILIAR EN DISEÑO GRÁFICO,54888,0.503,NaN,NaN,"6,232,522.679",30,...,"43,455,052.411",6,"37,395,136.074",24,Técnicos en diseño y arte gráfico,"187,928.850",0.000,0.000,24,both
4,Antiguos,CORPORACIÓN DE EDUCACIÓN TECNOLÓGICA COLSUBSID...,Cocineros,TÉCNICO LABORAL EN COCINA,39513,0.554,NaN,NaN,"1,688,723.997",75,...,"439,314,092.728",50,"84,436,199.870",25,Cocineros,"1,079,482.599",0.000,0.000,25,both